<%- include('partials/header.ejs') %>

<!-- About Section -->
<div class="about-container" id="about">
    <section class="about">
        <div class="about-column1">
            <h1> ABOUT</h1>
            <h3>Personal Details</h3>
            <p>
                3+ years of experience in <%= profile.personalInfo.fieldTitle %>, specializing in HTML, CSS, and JavaScript.
                Focused on responsive design, performance optimization, and user-centric solutions.
                Experienced in collaborating with teams to deliver efficient, scalable websites.
            </p>
            <ul style="list-style: none;">
                <li><b style="margin-right: 80px">Full Name :</b><%= profile.personalInfo.name %></li>
                <li><b style="margin-right: 50px">Father’s Name :</b><%= profile.personalInfo.fatherName %></li>
                <li><b style="margin-right: 60px">Date of Birth :</b><%= new Date(profile.personalInfo.dateOfBirth).toLocaleDateString() %></li>
                <li><b style="margin-right: 82px">CNIC No :</b><%= profile.personalInfo.cnic %></li>
                <li><b style="margin-right: 73px">Nationality :</b><%= profile.personalInfo.nationality %></li>
                <li><b style="margin-right: 48px">Marital Status :</b><%= profile.personalInfo.maritalStatus %></li>
            </ul>
            <a href="/resume"><button>Check Resume</button></a>
        </div>
    </section>
    <div class="about-column2">
        <div class="image1">
            <img src="/images/frontend.jpg" alt="frontend picture">
        </div>
        <div class="image2">
            <img src="/images/backend.jpg" alt="backend picture">
        </div>
    </div>
</div>
<hr>

<%- include('partials/footer.ejs') %>

<script src="javascript/index.js"></script>
</body>
</html>
