<%- include('partials/header.ejs') %>

<!-- Education and Experience Section -->
<div class="education-container" id="education">
    <div class="education-grid" id="experience">

        <!-- Education Section -->
         <div>
            <h1>Education</h1>
            <% profile.education.forEach(edu => { %>
            <div class="education-section" style="padding-top: 20px;">
                <div class="dot" style="margin-top: -20px;">
                    <div class="line" style="height: 160px;"></div>
                </div>
                <h2><%= edu.degree %></h2>
                <h3><%= new Date(edu.graduation).toLocaleDateString('en-US', { month: 'short', year: 'numeric' }) %></h3>
                <h3><%= edu.institution %>, </h3><h3><%= edu.city %></h3>
            </div>
            <% }) %>
        </div>
        <!-- Work Experience Section -->
         <div>
            <h1>Experience</h1>
        <% profile.workExperience.forEach(job => { %>
            <div class="experience-section">
                <div class="dot">
                    <div class="line"></div>
                </div>
                <h2><%= job.jobTitle %></h2>
                <h3><%= new Date(job.startDate).toLocaleDateString('en-US', { month: 'short', year: 'numeric' }) %> - 
                    <%= job.endDate ? new Date(job.endDate).toLocaleDateString('en-US', { month: 'short', year: 'numeric' }) : 'Continue' %>
                </h3>
                <h3><b>Company: </b><%= job.company %></h3>
                <p style="margin-top: -15px;">
                    <strong>Summary:<br></strong>
                    <%= job.jobDescription %>
                </p>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<hr style="margin-top: 80px;">

<%- include('partials/footer.ejs') %>
<script src="javascript/index.js"></script>
