<%- include('partials/header.ejs') %>
<!-- Home Page Section -->
<div class="home-container">
    <div class="bio-container">
        <div class="bio">
            <h1>Welcome to<br>Full Stack solutions<br>Where quality meets efficiency</h1>
            <p>
                Hi, I’m <strong style="color: #36454F"><%= profile.personalInfo.name %></strong>, <%= profile.personalInfo.bio %>
            </p>
            <p>
                I’m committed to writing clean, maintainable code and using the latest technologies to deliver intuitive solutions that meet client needs and exceed expectations. Let’s turn your ideas into reality with custom web applications, API integrations, and solid backend infrastructure.
            </p>
        </div>
        <div class="circle" style="background-image: url('<%= profile.personalInfo.imagePath %>');"></div>
    </div>
</div>
<hr>

<%- include('partials/footer.ejs') %>

<script src="javascript/index.js"></script>
</body>
</html>