<%- include('partials/header.ejs') %>

<!-- Projects Section -->
<div class="project-container" id="projects">
    <h1>My projects</h1>
    <div class="project-grid">
        <% profile.projects.forEach(project => { %>
            <div class="project-section">
                <img src="<%= project.projectImage %>" alt="<%= project.projectName %>">
                <a href="<%= project.projectLink %>" target="_blank"><h4><%= project.projectName%></h4></a>
                <p style="font-size: .9rem;">
                    <%= project.projectName %>
                    <span class="hidden" id="extra-text">
                        <%= project.projectSummary %>
                    </span>
                    <span class="read-more" id="read-more">Read More</span>
                </p>
            </div>
        <% }) %>
    </div>
</div>

<hr style="margin-top: 80px;">
<%- include('partials/footer.ejs') %>
<script src="/javascript/index.js"></script>
</body>
</html>