<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevPortfolio</title>
    <link rel="website icon" type="png" href="/images/logo.png">
    <link href="/css/resume.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div style="display: flex">
            <div class="head1"></div>
            <div class="header2">
                <h1><%= profile.personalInfo.name %></h1>
                <p><%= profile.personalInfo.fieldTitle %></p>
            </div>
        </div>
        <div style="display: flex">
            <div class="head3"></div>
            <div class="head2"></div>
            <div class="header">
                <img src="<%= profile.personalInfo.imagePath %>" alt="Profile Picture" width="100px" height="100px">
            </div>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <!-- Left Column -->
            <div class="left-column">
                <!-- Contact Details -->
                <div style="margin-top: 40px"></div>
                <div class="contact-details">
                    <h3>Contact Details</h3>
                    <p><img src="/images/email.png" alt="mail_icon" width="20px" height="20px"/> 
                       <a href="mailto:<%= profile.contactInfo.email %>" style="color: blue"><u><%= profile.contactInfo.email %></u></a></p>
                    <p><img src="/images/phone-call.png" alt="phone_icon" width="20px" height="20px" />
                       <%= profile.contactInfo.phone %></p>
                    <p><img src="/images/gps.png" alt="gps_icon" width="20px" height="20px" />
                       <%= profile.contactInfo.address %></p>
                </div>

                <!-- Education -->
                <h3>Education</h3>
                <div class="education">
                    <ul type="circle">
                        <% profile.education.forEach(edu => { %>
                        <li><%= edu.degree %><br><%= edu.institution %><br><%= new Date(edu.graduation).toLocaleDateString() %></li>
                        <% }) %>
                    </ul>
                </div>

                <!-- Skills -->
                <div class="skills">
                    <h3>Skills</h3>
                    <ul>
                        <% profile.skills.forEach(skill => { %>
                        <li><%= skill.skillName %></li>
                        <% }) %>
                    </ul>
                </div>
            </div>

            <!-- Right Column -->
            <div class="right-column">
                <!-- Summary -->
                <div class="section summary">
                    <h3>Summary</h3>
                    <p><%= profile.personalInfo.bio %></p>
                </div>

                <!-- Work Experience -->
                <div class="section work-experience">
                    <h3>Work Experience</h3>
                      <% profile.workExperience.forEach(job => { %>
                        <p><strong><%= job.jobTitle %>, <%= job.company %></strong><br><%= new Date(job.startDate).toLocaleDateString() %> - <%= new Date(job.endDate).toLocaleDateString() %></p>
                        <ul>
                          <li><%= job.jobDescription %></li>
                        </ul>
                      <% }) %>
                </div>

                <!-- References -->
                <div class="section references">
                    <h3>References</h3>
                    <p>References available upon request.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>