<!--Skills Section-->
<div class="skill-container" id="skills">
    <h1>SKILLS</h1>
    <div class="skills-grid">
        <% profile.skills.forEach(skill => { %>
            <div class="skill-section">
                <img src="<%= skill.skillImage %>" alt="<%= skill.skillName %>">
                <div class="skills-perc">
                    <div class="skill-circle1">
                        <h4><%= skill.level %>%</h4>
                    </div>
                    <div class="skill-circle2"></div>
                </div>
                <h3><%= skill.skillName %></h3>
                <p>
                    <b>Summary:</b> <%= skill.skillSummary %>
                </p>
            </div>
        <% }) %>
    </div>
</div>
<hr style="margin-top: 80px;">

<script src="javascript/index.js"></script>
</body>
</html>